<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Create Set</title>
    <link href="../static/css/flashcard.css" rel="stylesheet" type="text/css" th:href="@{/css/flashcard.css}" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
    <div th:replace="~{base :: header}"></div>
    <div th:fragment="content"> 
        <div th:if="${cookieName}">
            <h1 style="text-align: center;" >Creating A New Folder</h1>

            <form action="#" th:action="@{/quizMeDB/createFolder}" th:object="${folder}" method="post">
                <!-- Display success message  -->
                <div th:if="${success}">
                    <p th:text="${success}"></p>
                </div>
                <div class="container">
                    <label><b>Create Folder Name</b></label>
                    <input type="text" placeholder="Enter Folder Name" th:field="*{name}" required>
                
                    <label><b>Create Folder Description</b></label>
                    <input type="text" placeholder="Enter Description" th:field="*{description}" required>
                
                    <button type="submit" class="registerbtn">Submit</button>
                </div>
        
            </form>

        </div>
        <div th:if="${cookieName == null}">
            <p>User not logged in!</p>
            <a href="/quizMeDB/login">Sign in</a>
        </div>
    <!-- You can display a success message or redirect the user to another page -->
    </div>
</body>
</html>
