<!DOCTYPE html>
<html>
<head>
    <title>Folder</title>
    <link href="../static/css/flashcard.css" rel="stylesheet" type="text/css" th:href="@{/css/flashcard.css}" />
</head>
<body>
    <div th:if="${cookieName}">
        <h1 style="text-align: center;" >Viewing Folder Contents</h1>
        
        <!-- Checking if the specified folder has a set -->
        <div th:if="${FolderHasSets}" style="margin-left: 20px; margin-right: 20px;">
            <div style="display: flex; align-items: center;">
                <img src="/images/sets.png" alt="Set Image" style="width: 50px; height: 50px; margin-right: 10px;">
                <div>
                    <a th:href="@{/quizMeDB/flashcard(sid=${sets.sid},name=${sets.name})}" th:text="${sets.name}" style="text-decoration: none; font-weight: bold; display: block; margin-bottom: 5px;">Go to Set</a>
                    <p th:text="${sets.description}" style="margin: 0;"></p>
                </div>
            </div>
        </div>
    </div>
    <div th:if="${cookieName == null}">
        <p>User not logged in!</p>
        <a href="/quizMeDB/login">Sign in</a>
    </div>
    <!-- You can display a success message or redirect the user to another page -->
</body>
</html>
