<!DOCTYPE html>
<html>
<head>
    <title>Folder</title>
    <link href="../static/css/flashcard.css" rel="stylesheet" type="text/css" th:href="@{/css/flashcard.css}" />
</head>
<body>
    <div th:if="${cookieName}">
        <h1 style="text-align: center;" >Viewing Folder Contents</h1>
        
        <!-- Checking if the specified folder has a set -->
        <div th:if="${FolderHasSets}" style="margin-left: 20px; margin-right: 20px;">
            <!-- URL of the folder image -->
            <img src="/images/sets.png" alt="Sets Image">
            <!-- URL of the folder link -->
            <a th:href="@{/folderLinkURL}">Go to Set</a>
        </div>
    </div>
    <div th:if="${cookieName == null}">
        <p>User not logged in!</p>
        <a href="/quizMeDB/login">Sign in</a>
    </div>
    <!-- You can display a success message or redirect the user to another page -->
</body>
</html>
