<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Homepage</title>
    <link href="../static/css/flashcard.css" rel="stylesheet" type="text/css" th:href="@{/css/flashcard.css}" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
    <div th:replace="~{base :: header}"></div>
    <div th:fragment="content"> 
        <div th:if="${cookieName}">
            <p style="font-size: 24; text-align: right;">Logged In As <span th:text="${cookieName}"></span></p>
            <a href="/quizMeDB/logout">Logout</a>
            <h1 style="text-align: center;" >View Flashcard Collection</h1>
            
            <!-- Checking if user has a folder -->
            <div th:if="${userHasFolder}">
                <!-- URL of the folder image -->
                <img src="@/static/css/images/folder.png" alt="Folder Image">
                <!-- URL of the folder link -->
                <a th:href="@{/folderLinkURL}">Go to Folder</a>
            </div>
        </div>
        <div th:if="${cookieName == null}">
            <p>User not logged in!</p>
            <a href="/quizMeDB/login">Sign in</a>
        </div>
    </div>
    <!-- You can display a success message or redirect the user to another page -->
</body>
</html>
