<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title>Getting Started: Serving Web Content</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="../static/css/register.css" rel="stylesheet" type="text/css" th:href="@{/css/register.css}" />
</head>
<body>
  <form action="#" th:action="@{/quizMeDB/register}" th:object="${user}" method="post">
    <div class="container">
      <h1 id="registerTitle">Register</h1>
      <p>Please fill in this form to create an account.</p>
      <hr>
      
      <div th:if="${errorMessage}" style="color: red;">
        <p th:text="${errorMessage}"></p>
      </div>

      <label><b>Email</b></label>
      <input type="text" placeholder="Enter Email" th:field="*{email}" required>
  
      <label><b>Password</b></label>
      <input type="password" placeholder="Enter Password" th:field="*{password}" required>

      <hr>
  
      <input type="submit" value="register" class="registerbtn"></input>
    </div>
    
    <div class="container signin">
      <p>Already have an account? <a href="/quizMeDB/login">Sign in</a>.</p>
    </div>
  </form>
</body>
</html>
