<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Search</title>
    <link href="../static/css/flashcard.css" rel="stylesheet" type="text/css" th:href="@{/css/flashcard.css}" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/search.css}" type="text/css">
</head>

<body>
    <div th:replace="~{base :: header}"></div>
    <div th:fragment="content"> 
        <center>
            <picture>
                <img src="https://media.discordapp.net/attachments/1136904785694568530/1137548841906884688/Screenshot_2023-08-05_at_5.52.44_PM.png"
                    alt="logo" style="width:340px;height:100px;">
            </picture>
            <p th:if="${filterTag == 'noValue'}" style="font-size: 25px;"><b>Filter:</b> <span>None</span></p>
            <p th:if="${filterTag != 'noValue'}" style="font-size: 25px;"><b>Filter:</b> <span th:text="${filterTag}"></span></p>
        <div class="parent-container">
                <div class="tab">
                    <form class="form-inline my-2 my-lg-0" method="POST" action="/quizMeDB/filterTag">
                        <input type="hidden" name="searched" th:value="${searched}">
                        <input type="hidden" name="setName" th:value="${searched}">
                        <input type="hidden" name="setTag" th:value="noValue">
                        <input type="hidden" name="searchType" value="flashcardSets">
                        <button class="tabBox" type="submit">Flashcard sets</button>
                    </form>
                </div>
                <div class="tab">
                    <form class="form-inline my-2 my-lg-0" method="POST" action="/quizMeDB/searchusers">
                        <input type="hidden" name="searched" th:value="${searched}">
                        <input type="hidden" name="searchType" value="users">
                        <button class="tabBox" type="submit">Users</button>
                    </form>
                </div>
                <div class="tab">
                    <form class="form-inline my-2 my-lg-0" method="POST" action="/quizMeDB/filterTag">
                        <input type="hidden" name="searched" th:value="${searched}">
                        <input type="hidden" name="setName" th:value="${searched}">
                        <input type="hidden" name="setTag" th:value="English">
                        <input type="hidden" name="searchType" value="flashcardSets">
                        <button class="tabBox" type="submit">English</button>
                    </form>
                </div>
                <div class="tab">
                    <form class="form-inline my-2 my-lg-0" method="POST" action="/quizMeDB/filterTag">
                        <input type="hidden" name="searched" th:value="${searched}">
                        <input type="hidden" name="setName" th:value="${searched}">
                        <input type="hidden" name="setTag" th:value="Math">
                        <input type="hidden" name="searchType" value="flashcardSets">
                        <input type="hidden" name="setList" th:value="${flashcardSets}">
                        <button class="tabBox" type="submit">Math</button>
                    </form>
                </div>
                <div class="tab">
                    <form class="form-inline my-2 my-lg-0" method="POST" action="/quizMeDB/filterTag">
                        <input type="hidden" name="searched" th:value="${searched}">
                        <input type="hidden" name="setName" th:value="${searched}">
                        <input type="hidden" name="setTag" th:value="Science">
                        <input type="hidden" name="searchType" value="flashcardSets">
                        <button class="tabBox" type="submit">Science</button>
                    </form>
                </div>
                <div class="tab">
                    <form class="form-inline my-2 my-lg-0" method="POST" action="/quizMeDB/filterTag">
                        <input type="hidden" name="searched" th:value="${searched}">
                        <input type="hidden" name="setName" th:value="${searched}">
                        <input type="hidden" name="setTag" th:value="History">
                        <input type="hidden" name="searchType" value="flashcardSets">
                        <button class="tabBox" type="submit">History</button>
                    </form>
                </div>
           
            <div class="container">
                <div th:if="${#lists.isEmpty(flashcardSets)}">
                    <p th:text="'No sets found with the given name: ' + ${searched}"></p>
                </div>
                <div th:if="${not #lists.isEmpty(flashcardSets)}">
                    <!-- Use Thymeleaf's th:each attribute to iterate through the search results -->
                    <!-- Assuming 'flashcardSets' is the name of the attribute in the model that contains the search results -->
                    <div th:each="flashcardSet : ${flashcardSets}" class = "results-container">
                        <!-- Display the details of each flashcard set -->
                        <div class="result-name"><p>Name: <span th:text="${flashcardSet.name}"></span></p></div>
                        <p>Author: <span th:text="${flashcardSet.author}"></span></p>
                        <p>Date: <span th:text="${flashcardSet.date}"></span></p>
                        <p>Description: <span th:text="${flashcardSet.description}"></span></p>
                        <p>Tag: <span th:text="${flashcardSet.tag}"></span></p>
                        <p>hasSet value: <span th:text="${flashcardSet.hasSet}"></span></p>
                        <div>
                            <form th:if="${flashcardSet.hasSet == false}" class="form-inline my-2 my-lg-0" method="POST" action="/quizMeDB/addSet">
                                <input type="hidden" name="searched" th:value="${flashcardSet.sid}">
                                <input type="hidden" name="setName" th:value="${searched}">
                                <input type="hidden" name="setAuthor" th:value="${flashcardSet.author}">
                                <input type="hidden" name="setTag" th:value="${setTag}">
                                <input type="hidden" name="searchType" value="set">
                                <button class="follow-button" type="submit" >Add Set</button>
                            </form>
                            <form th:if="${flashcardSet.hasSet == true}" class="form-inline my-2 my-lg-0" method="POST" action="/quizMeDB/removeSet">
                                <input type="hidden" name="searched" th:value="${flashcardSet.sid}">
                                <input type="hidden" name="setName" th:value="${searched}">
                                <input type="hidden" name="setAuthor" th:value="${flashcardSet.author}">
                                <input type="hidden" name="setTag" th:value="${setTag}">
                                <input type="hidden" name="searchType" value="set">
                                <button class="follow-button" type="submit" >Remove Set</button>
                            </form>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </center>

    </div>
</body>

</html>