/* Add a style for the parent container that wraps both the button-box and the container */
.parent-container {
    position: relative; /* Set the parent container to relative positioning */
  }
  
 
  .tabBox{
    display: inline-block;
    border-radius: 10px 10px 0 0;
    border: 2px solid  #07754d;
    border-color: #07754d;
    background-color: #73BA9B;
    width: 150px;
    height: 55px;
    font-family: helvetica;
    font-size: 150;
    
  }
 

.result-container {
    text-align: center;
    margin-top: 500px;
}
.result-text {
    font-size: 20px;
    margin-bottom: 10px;
}
.percentage-text {
    font-size: 30px;
    color: #333;
}

.tab{
    display: inline-block; 
}
  .follow-button {
    margin: auto;
    border-radius: 10px 10px 10px 10px;
    border: 2px solid #095539;
    border-color: #3f705e;
    background-color: #a3d7c4;
    width: 150px;
    height: 55px;
    font-family: helvetica;
    font-size: 150;
  }

  .results-container {
    border: 4px solid  #07754d;
    padding: 10px;
    border-radius: 5px;

  }

  .result-name{
    border: 1px solid  #07754d;
    background-color: #D5F2E3;
    margin-bottom: 10px;
  }

  .centered-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh; /* Ensure the form takes at least the full viewport height */
}


  